<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
        <head>
          <meta charset="utf-8" />
          <title>修改密码</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
          <link rel="stylesheet" type="text/css" th:href="@{/account/common.css}" />
          <link rel="stylesheet" type="text/css" th:href="@{/account/datepicker.css}" />
          <link rel="stylesheet" type="text/css" th:href="@{/account/setPersonal.css}" />
       
        </head>
        
        <body>

          <div class="settings">
            <div class="pcenter_navBar">
              <div class="pcenter_userhead">
                <div class="pcenter_userhead_content">
                  <div class="username">个人设置</div></div>
              </div>
              <ul class="pcenter_navBar_ul" style="margin-top:-10px;">


                <!-- <li> <a class="disable-a">退款维权</a> <ul> <li><a class="menu_refund" href="undefined/refund/list/">我的投诉</a></li> <li><a class="menu_complain" href="undefined/complainnew/list/">我的举报</a></li> </ul></li> -->
                <li>
                  <a class="disable-a">账号管理</a>
                  <ul>
                    <li>
                      <a class="menu_setPersonal" th:href="@{/body/people/setPersonal}">我的信息</a></li>

                    <li>
                      <a class="menu_setAvatar" th:href="@{/body/people/setpassword}">修改密码</a></li>
                  </ul>
                </li>
                <li>
                  <a class="disable-a">信息管理</a>
                  <ul>
                    <li>
                      <a class="menu_setPassword" th:href="@{/body/people/getinfo}">收件箱</a></li>
                    </li>
                  </ul>
              </ul>
            </div>

            <div class="settings_box">
              <strong class="settings_title">修改密码</strong>
              <fieldset class="setPersonal">
                <form id="setPersonForm" method="post" th:action="@{/body/people/setpasswordpost}">

                  <div class="form-list">
                    <label class="account-label">原密码</label>
                    <input id="true_name" name="oldpwd" autocomplete="off" class="l_ipt" type="password" value="" />
                    <strong></strong>
                  </div>
                  <div class="form-list">
                    <label class="account-label">新密码</label>
                    <input id="nickname" name="newpwd1" autocomplete="off" class="l_ipt" type="password" value="" />
                    <strong></strong>
                  </div>
                  <div class="form-list">
                    <label class="account-label">确认密码</label>
                    <input id="nickname2" name="newpwd2" autocomplete="off" class="l_ipt" type="password" value="" />
                    <strong></strong>
                  </div>

                  <input type="submit" value="确 认" id="submit" class="ext_submit" />
                  <span class="submitError"></span>
                </form>
                <p style="color:red;" th:text="${msg}"></p>
              </fieldset>
            </div>

          </div>

          
        </body>
        
        </html>